@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

option {
  color: black;
}

/* containers who have a tooltip have high zindex */
*:has(> [role="tooltip"]) {
  z-index: 100;
}

/* apex chart legend */
.apexcharts-legend-text {
  color: #333 !important;
}
.dark .apexcharts-legend-text {
  color: #ccc !important;
}

/* apex chart tooltip */
.apexcharts-tooltip {
  background: #fafafa !important;
  color: #333 !important;
  border-color: #ccc !important;
}
.apexcharts-tooltip-title {
  font-weight: bold;
  color: #333 !important;
  background: #e5e5e5 !important;
}

/* apex chart axes */
.apexcharts-text {
  fill: #333 !important;
}
.dark .apexcharts-text {
  fill: #bbb !important;
}

/* airdrop */
.airdroptable tbody td {
  padding: 5px;
}
.airdroptable tbody td table td:nth-child(2n + 3):not(:last-child) {
  border-right: 1px solid;
}
.airdroptable tbody td table td:nth-child(2) {
  border-right: 1px solid;
}
